  <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" 
      [max]="currentDate" [(ngModel)]="date"></ion-datetime>
  </ion-item>

    <ion-item>
      <ion-label>
        Select Currency:
      </ion-label>
       
  </ion-item>
  <ion-item>
      <ion-label>
     Add New Currency:
    </ion-label>
  <ion-select  (ionChange)="addToList()" [(ngModel)]="selectedCurrency">
    <ion-select-option [value]="item" 
       *ngFor="let item of currencyList; let i=index">{{item.currencyName}}({{item.currecyCode}})
    </ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
    {{baseCurrency.currencyName}}({{baseCurrency.currecyCode}}):
      <ion-input type="number" placeholder="Enter Amount" [(ngModel)]="amount"></ion-input>
  </ion-item>


<ion-list>
    <!-- <ion-reorder-group  id="reorder" (ionItemReorder)="doReorder($event)" [disabled]="disabled"> -->
      <!-- <ion-reorder> -->
        <ion-item-sliding  *ngFor="let content of list; let i=index">
            <!-- (press)="handlePress()" -->
              <ion-item >
                  <ion-label>{{content.currencyName}}({{content.currecyCode}}) :</ion-label>
                  {{amount*this.latestRateList[content.currecyCode]/this.latestRateList[baseCurrency.currecyCode] | number:'0.1-2'}}
              </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(content)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
       <!-- </ion-reorder> -->
  <!-- </ion-reorder-group> -->
</ion-list>




