 <a href="#" [routerLink]="['/converter']" >Currency Converter</a>
 
 <form  name="frm" #frm="ngForm" (ngSubmit)="addExpense(frm);">
      
      <ion-item>
          
          <ion-item>
            <ion-label  class="ion-text-wrap">Date:</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" name="date" [max]="currentDate" ngModel required></ion-datetime>
          </ion-item>
      </ion-item>
      <ion-item>
          <ion-label   class="ion-text-wrap" for="name">
              Name:
          </ion-label>
          <ion-input type="text" name="name" ngModel required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="ion-text-wrap" for="hostCurrency">
           Host Currency:
        </ion-label>
           <ion-select  name="hostCurrency" ngModel required>

                      <ion-select-option [value]="item" *ngFor="let item of currencyList">{{item.currencyName}}({{item.currecyCode}})</ion-select-option>
                      <!-- <ion-select-option>USD</ion-select-option>
                      <ion-select-option>EURO</ion-select-option> -->
                    </ion-select>
        
          
      </ion-item>
      <ion-item>
          <ion-label class = "list list-inset" for="amount">
                  Amount:
          </ion-label>
          <ion-input type="number"  name="amount" ngModel required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="ion-text-wrap" for="nativeCurrency">
           Native Currency: </ion-label>
                      <ion-select  name="nativeCurrency" ngModel required>
                      <ion-select-option selected>JPY</ion-select-option>
                      <!-- <option>EURO</option>
                      <option>INR</option> -->
                    </ion-select>
      </ion-item>
      <ion-button type="submit" name="button"  [disabled]="frm.invalid" >Add Expense</ion-button>
  </form>


<div >
  <ion-item-group  *ngFor="let expense of expenseList" >
      <ion-item-divider>
        <ion-label>{{ expense.hostCurrency.currencyName }}
          <span>Total amount : {{expense.total | number:'0.1-2'}}</span>
        </ion-label>
      </ion-item-divider>
           <ion-item *ngFor="let item of expense.data">
                {{ item.date | date}}
                {{ item.name }}
                {{ item.amount | number:'0.1-2' }} {{ expense.hostCurrency.currencyName }} 
                {{ item.convertedAmount | number:'0.1-2' }} {{ item.nativeCurrency }}
                   
               </ion-item>
           </ion-item-group> 
      
    <h5>Grand Total (in Native Currency) : {{ grandTotal | number:'0.1-2' }}</h5>
</div>
  <ion-item>  
    <ion-label>History Of Expenses:</ion-label>
        <ion-select (ionChange)="listSelector($event)">
            <ion-select-option value="today">Today</ion-select-option>
            <ion-select-option value="yesterday">Yesterday</ion-select-option>
            <ion-select-option value="lastWeek">Last 7 Days</ion-select-option>
            <ion-select-option value="lastMonth">Last 30 Days</ion-select-option>
            <ion-select-option value="lastYear">Last Year</ion-select-option>
            <ion-select-option value="totalExpenditure">Total Expenditure</ion-select-option>
        </ion-select>
 </ion-item>

<ion-item-group  *ngFor="let content of filterdArray">
    <ion-item-divider>
        <ion-label>{{ content.hostCurrency }}
          <span>Total amount : {{ content.total | number:'0.1-2' }}</span>
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let item of content.data">
          {{ item.date | date}}
          {{ item.name }}
          {{ item.amount | number:'0.1-2' }} {{content.hostCurrency }} 
          {{ item.convertedAmount | number:'0.1-2' }} {{ item.nativeCurrency }}
             
         </ion-item>
      
</ion-item-group>
